.phone-images
  img.phone(ng-src='{{img}}', ng-repeat='img in phoneDetail.phone.images', ng-class='{active: phoneDetail.mainImageUrl==img}')
h1 {{phoneDetail.phone.name}}
p {{phoneDetail.phone.description}}
ul.phone-thumbs
  li(ng-repeat='img in phoneDetail.phone.images')
    img(ng-src='{{img}}', ng-click='phoneDetail.setImage(img)')
ul.specs
  li
    span Availability and Networks
    dl
      dt Availability
      dd(ng-repeat='availability in phoneDetail.phone.availability') {{availability}}
  li
    span Battery
    dl
      dt Type
      dd {{phoneDetail.phone.battery.type}}
      dt Talk Time
      dd {{phoneDetail.phone.battery.talkTime}}
      dt Standby time (max)
      dd {{phoneDetail.phone.battery.standbyTime}}
  li
    span Storage and Memory
    dl
      dt RAM
      dd {{phoneDetail.phone.storage.ram}}
      dt Internal Storage
      dd {{phoneDetail.phone.storage.flash}}
  li
    span Connectivity
    dl
      dt Network Support
      dd {{phoneDetail.phone.connectivity.cell}}
      dt WiFi
      dd {{phoneDetail.phone.connectivity.wifi}}
      dt Bluetooth
      dd {{phoneDetail.phone.connectivity.bluetooth}}
      dt Infrared
      dd {{phoneDetail.phone.connectivity.infrared | checkmark}}
      dt GPS
      dd {{phoneDetail.phone.connectivity.gps | checkmark}}
  li
    span Android
    dl
      dt OS Version
      dd {{phoneDetail.phone.android.os}}
      dt UI
      dd {{phoneDetail.phone.android.ui}}
  li
    span Size and Weight
    dl
      dt Dimensions
      dd(ng-repeat='dim in phoneDetail.phone.sizeAndWeight.dimensions') {{dim}}
      dt Weight
      dd {{phoneDetail.phone.sizeAndWeight.weight}}
  li
    span Display
    dl
      dt Screen size
      dd {{phoneDetail.phone.display.screenSize}}
      dt Screen resolution
      dd {{phoneDetail.phone.display.screenResolution}}
      dt Touch screen
      dd {{phoneDetail.phone.display.touchScreen | checkmark}}
  li
    span Hardware
    dl
      dt CPU
      dd {{phoneDetail.phone.hardware.cpu}}
      dt USB
      dd {{phoneDetail.phone.hardware.usb}}
      dt Audio / headphone jack
      dd {{phoneDetail.phone.hardware.audioJack}}
      dt FM Radio
      dd {{phoneDetail.phone.hardware.fmRadio | checkmark}}
      dt Accelerometer
      dd {{phoneDetail.phone.hardware.accelerometer | checkmark}}
  li
    span Camera
    dl
      dt Primary
      dd {{phoneDetail.phone.camera.primary}}
      dt Features
      dd {{phoneDetail.phone.camera.features.join(', ')}}
  li
    span Additional Features
    dd {{phoneDetail.phone.additionalFeatures}}