.container-fluid
  .row-fluid
    .span2
      // Sidebar content
      | Search: 
      input(ng-model="query")
      | Sort by:
      select(ng-model="phoneList.orderProp")
        option(value="name") Alphabetical
        option(value="age") Newest
    .span10
      // Body content
      phone-list(phonelist="phoneList.phones", query="query", order="phoneList.orderProp")